*{
    margin:0;
    padding:0;
}

#top{
    width: 100%;
    height:10vh;
    background-color:slategray;

}

#middle{

    width: 100%;
    height:85vh;
    background-color: springgreen;
}
 

#bottom{

    width: 100%;
    height:5vh;
    background-color:blue;

}

a{

    text-decoration:none;
    font-size: 2em;
    color: blue;
    margin-left:5px;
    
}
nav{
 padding-top: 15px;
}

figure{
width: 80%
height:70%;
display:block;
margin:auto;
padding:25px;


}

figure img{

    width:50%;
    height:50%;
    margin-top:-70%;
    border:3px;
    border-color: white;
    border-radius: 10px;
    
}

figcaption{


}

h3{
text-align: center;
}