* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    
    font-family: 'Josefin Sans', sans-serif;
  }
  
  body{

overflow-y:auto ;

  
  
  
  }
  
  .parent{

    display: grid;
    grid-template-areas: "head head head head"
    "nav nav nav nav"
    "main main main main"
    "main main main main"
    "main main main main"
    "footer footer footer footer";
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(6, auto);


    width: auto;



}

.logo{

grid-area: head;
float: left;
position: relative;
width:100%;
}

@media screen and (min-width: 640px) {
  #sidebar{
    position:absolute;
    top:0px;
    left:-200px;
    width:200px;
    height:100%;
    background:#a2a7ac;
    transition:all 300ms linear;
    z-index: 1;
  display: none;  
  }
}


   

#sidebar {
    position:absolute;
    top:0px;
    left:-200px;
    width:200px;
    height:100%;
    background:#151719;
    transition:all 300ms linear;
    z-index: 1;


  }
  #sidebar.active {
    left:0px;
  }
  #sidebar .toggle-btn {
    position:absolute;
    left:220px;
    top:10px;
  }
  #sidebar .toggle-btn span {
    display:block;
    width:30px;
    height:5px;
    background:#151719;
    margin:5px 0px;
    cursor:pointer;
  }
  #sidebar div.list div.item {
    padding:15px 10px;
    border-bottom:1px solid #444;
    color:#fcfcfc;
    text-transform:uppercase;
    font-size:15px;
  }
                    

.start{
width: 800px;
height: 400px;
grid-area:main ;
margin: auto;

}

.start-inehåll{
display: flex;
width: 100%;
height: 100%;
overflow-x: auto;
scroll-snap-type: x mandatory;
margin-top:10%;



}

.slide{

width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-shrink: 0;
scroll-snap-align: start;





}







@media screen and (max-width: 640px) {

  .horizontal-nav{
  grid-area: nav;
display: none ;



}}





@media screen and (min-width: 640px) {

  .horizontal-nav{
  grid-area: nav;
display: block;



}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(199, 190, 190);
}


li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{

background-color: rgba(255, 0, 0, 0.315);



}}


.active{

background-color:  rgba(255, 0, 0, 0.315);

}



.intro{

text-align: center;
  grid-area: main;
padding: 40px;


}

.niko{
  width:50%;
  border-radius: 50%;
  margin-top:20%;
  margin-bottom:5%;
}
.ryan{
  width:50%;
  border-radius: 50%;
  margin-top:20%;
  margin-bottom:5%;
  
  
}

.nikoruta{
  width:100%;
  height:590px;
  background-color: white;
  border-radius: 20%;
  margin-top:50px;
  margin-left:40%;
  text-align: center;
}

.ryanruta{
  width:100%;
  height:590px;
  background-color: white;
  border-radius: 20%;
  margin-top:50px;
  margin-left:60%;
  text-align: center;
 
}

.nikoinsta{
  width:50px;
  margin-top:10px;
  margin-left:110px;
  
  
  
}


button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #f3f3f3;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width:50%;
  padding-right:300px;
  margin-bottom:10%;

 
 
  
  
}

button:hover {background-color: #ff0000e0}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.startsidav70{
width:45%;
margin-top:10%;
TEXT-align:center;
}